.App {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 5em;
  padding-top: 2em;
}
.App button{
  font-size: 1.5em;
  font-weight: bold;
  background: none;
  border: 1px solid;
  padding: 0.3em 1.5em;
  border-radius: 1.5em;
  cursor: pointer;
  text-transform: uppercase;
}
.App button:hover{
  background: black;
  color: white;
}